<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="cartheader-css">
<style type="text/css">
</style>
</head>
<body>
	<div sec:authorize="isAuthenticated()" th:fragment="cart" class="shopping-cart">
			<!-- Title -->
			<div class="title">
				<h3>Shopping Cart</h3>
				<p>Total price:</p>
				<p th:text="${totalprice}"></p>
			</div>
			<div class="shopping-cart-content">
				<div th:each="entry : ${listCartItems}">
					<!-- Product  -->
					<div class="item-cart" th:with="item = ${entry.product}">
						<div class="cancel-itemcart">
							<a th:href="@{/cart/remove/{productID}(productID=${item.id})}">&#x2716;</a>
						</div>
						<a
							th:href="@{/shop/{category}/{product}(category=${item.category}, product=${item.productlink})}">
							<div class="imagecart">
								<img th:src="${item.imageURL}" alt="" />
							</div>
						</a>
						<div class="description">
							<a
								th:href="@{/shop/{category}/{product}(category=${item.category}, product=${item.productlink})}">
								<span th:text="${item.productName}"></span>
							</a>
						</div>
						<div class="cart-item-quantity">
						Quantity
						<span th:text="${entry.quantity}"></span>
						</div>
						<div class="total-price">
							<span th:text="${item.price*entry.quantity}"></span> <span>lei</span>
						</div>
					</div>

					<!-- Product #1 -->

				</div>
			</div>
			<br> <a th:href="@{/cart/checkout}"><button
					class="submit-btn">Checkout</button></a>

	</div>
</body>
</html>