<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="cartheader-css">
<style type="text/css">
</style>
</head>
<body>
	<div th:fragment="cart" class="shopping-cart">
		<!-- Title -->
		<div class="title">
			<h3>Shopping Cart</h3>
			<p>Total price:</p>
			<p th:text="${totalprice}"></p>
		</div>

		<div class="shopping-cart-content">
			<div th:each="cp : ${cart_products}">
				<!-- Product #1 -->
				<div class="item-cart">
					<div class="cancel-itemcart">
					<a th:href="@{/cart/remove/{id}(id=${removeid})}">&#x2716;</a></div>
					<a th:href="@{/shop/{category}/{product}(category=${cp.category}, product=${cp.productlink})}">
						<div class="imagecart">
							<img th:src="${cp.imageURL}" alt="" />
						</div>
					</a>
					<div class="description">
						<a
							th:href="@{/shop/{category}/{product}(category=${cp.category}, product=${cp.productlink})}">
							<span th:text="${cp.productName}"></span>
						</a>
					</div>

					<div class="total-price">
						<span th:text="${cp.price}"></span> <span>lei</span>
					</div>
				</div>

				<!-- Product #1 -->

			</div>
		</div>
		<br> <a th:href="@{/cart/checkout}"><button
				class="submit-btn">Checkout</button></a>
	</div>
</body>
</html>