<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:fragment="header-css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${pageTitle}"></title>
	<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH66yvKGCVjCsfbsmaqh2KHN-K2P_JTUdf6g&usqp=CAU">
	<link rel="stylesheet" th:href="@{/css/itemMainS.css}">
	<link rel="stylesheet" th:href="@{/css/mainStyle.css}">
	<link rel="stylesheet" th:href="@{/css/accountRL.css}">
	<link rel="stylesheet" th:href="@{/css/userinfo.css}">
</head>

<body>
	<div th:fragment="header" class="header">
		<div class="navbar">
			<a href="/home">Home</a> 
			<a href="/login">Login</a>
			<!-- Hide 1-->
			<a href="/register">Register</a>
			<!-- Hide 1-->
			<a href="/profile">Account</a> 
			<a href="/admin">(Temp)Admin</a>
			<!-- Hide 2-->
			<a href="">Cart</a> <a href="">Logout</a>
			<!-- Hide 2-->

		</div>
	</div>

</body>
</html>