<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="header-css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${pageTitle}"></title>
	<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH66yvKGCVjCsfbsmaqh2KHN-K2P_JTUdf6g&usqp=CAU">
	<link rel="stylesheet" th:href="@{/css/itemMainS.css}">
	<link rel="stylesheet" th:href="@{/css/mainStyle.css}">
	<link rel="stylesheet" th:href="@{/css/accountRL.css}">
	<link rel="stylesheet" th:href="@{/css/userinfo.css}">
	<link rel="stylesheet" th:href="@{/css/cartcss.css}">
</head>

<body>
	<div th:fragment="header" class="header">
		<div class="navbar">
			<a href="/home">Home</a> 
			<a sec:authorize="isAnonymous()" href="/login">Login</a>
			<a sec:authorize="isAnonymous()" href="/register">Register</a>
			<a sec:authorize="isAuthenticated()" href="/profile">Account</a> 
			<a sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')" href="/admin">(Temp)Admin</a>
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" id="logout">
    			<a onclick="document.getElementById('logout').submit()">Logout</a>
    			<!-- Users with disabled JavaScript won't be able to submit the form  -->
			</form>


		</div>
	</div>

</body>
</html>