.shopping-cart {
	min-height:0px;
	max-height: 600px;
	width: 450px;
	margin: 100px auto;
	background: #FFFFFF;
	border-radius: 6px;
	position: fixed;
	right: 20px;
	flex-direction: column;
	display: flex;
	float: right;
}

.title {
	height: 50px;
	border-bottom: 1px solid #E1E8EE;
	padding: 20px 30px;
	color: #5E6977;
	font-size: 18px;
	text-align: center;

}
.title p{
	padding-top: 20px;
	display: inline-block;
}

.shopping-cart-content{
	overflow-x: hidden;
	overflow: overlay;
	padding: 0% 5%;
}

.shopping-cart-content span{
	
}


.shopping-cart-content-item-name{
	white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
 	width: 100px;
}

.cancel-itemcart{
	padding-top: 30px;
	margin-right: 5px;
}

.item-cart {
	height: 100px;
	display: flex;
	padding-right: 50%;
	border-top: 1px solid #E1E8EE;
	
}

.imagecart img {
	margin-right: 20px;
	width: 100px;
	height: 100px;
}

.description {
	padding-top: 20px;
	margin-right: 10%;
	width: 100px;
	
}

.description span {
	display: block;
	font-size: 14px;
	color: #43484D;
	font-weight: 400;
}


.total-price {
	min-width: 70px;
	max-width: 70px;
	padding-top: 20px;
	text-align: center;
	font-size: 16px;
	color: #43484D;
	
}

.cart-item-quantity{
	width: 120px;
	display: block;
	padding-top: 20px;
	text-align: center;
	margin-right: 20px;
	
}





