.item {
	display: contents;
}

.itemcontainer {
	background-color: white;
	width: 10%;
	border: 2px solid #d71440;
	padding-left: 8px;
	padding-right: 8px;
	min-width: 200px;
	min-height: 300px;
	display: inline-block;
	line-height: 20px;
	text-indent: 4px;
	margin: 30px auto;
}

.item_options {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.disabled_item{
	background-color: black;
	width: 10%;
	opacity: 80%;
	position: absolute;
	min-width: 200px;
	min-height: 250px;
	line-height: 170px;
	text-indent: 30%;
	margin: 10px auto;
	
}

.disabled_item p{
	color: red;
	opacity: 200%;
	transform: rotate(45deg);
	font-size: 30px;
	
}

.button_link {
	background-color: red;
	border: none;
	color: white;
	padding: 8px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.button_link_disabled {
	background-color: gray;
	border: none;
	color: white;
	padding: 8px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.item:nth-child(3n)::after {
	content: '';
	width: 100%;
}

.inner_image {
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.inner_image_add {
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 20px;
}

.nume_produs_link {
	font-size: 15px;
	font-family: metawp, Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
	text-align: center;
	padding-bottom: 20px;
	height: 60px;
}

.pret_display {
	text-align: center;
	display: block;
}

.pret_display span {
	min-height: 20px;
	display: inline-flex;;
	vertical-align: middle;
	align-items: center;
	color: red;
	font-size: 30px;
}
.container_item_page {
	margin-top: 20px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-align: left;
	background: white;
	height: 100%;
	margin-bottom: 20px;
	display:table;
}

.leftDiv {
	height: 400px;
	width: 70%;
	float: left;
}
.leftDiv img{
	width: 500px;
	height: 500px;
	margin: auto;
  	display: block;
}
.rightDiv {
	height: 400px;
	width: 20%;
	float: right;
	margin-right: 5%;
}	
.top-item-data{
	display: block;
	justify-content:space-between;

	
}
.right_item_data{
	padding: 0;
	text-align: center;
	font-size: 30px;
	color: red;
	margin-top: 70%;
	background-color: white;
	border: 1px solid black;

}
.right_item_data button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 10%;
}

.description_item h2{
	text-align: center;
	
}
.description_item p{
	margin: 5%;
	
}
.space_null {
	width: 100%;
	float: left;
	height: 100px;
}

		