.user_info_panel {
	width: 100%;
	background-color: white;
	padding: 20px;
	font-size: 20px;
	padding-bottom: 90px;
}

.container_profile {
	width: 50%;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	padding-bottom: 20px;
}

.order_panel {
	width: 100%;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-bottom: 20px;
}

.orderInfo {
  width: 60%;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 2%;

}

.orderInfo td, .orderInfo th {
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  text-align: center;
}


.submit-btn-user {
	width: 55%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 15px;
}

.input-field_user {
	width: 80%;
	background: transparent;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	margin: 0 auto;
}

.user_inner {
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.user_inner h3{
	color: red;
	text-align: center;
	padding: 10px;
	margin-bottom: 5%;
}


.user_inner2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Row {
	display: table;
	width: 100%;
	table-layout: fixed; /*Optional*/
}

.Column {
	display: table-cell;
}

.istoric {
	width: 100%;
	margin: 5px auto;
	border: 1px solid black;
}

.istoric p {
	font-size: 20px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.istoric_list {
	width: 100%;
	height: 300px;
	margin: 5px auto;
	overflow: overlay;
}

.istoric_list_Row {
	display: table;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: white;
	table-layout: fixed; /*Optional*/
	margin: auto;
}

.istoric_list_Column {
	display: table-cell;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid black;
}

.istoric_list_Column a{
	text-decoration: underline;
	color: blue;
}

.ticket_buttons {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    justify-content: center;
}

.ticket_buttons a {
	background-color: red;
	padding: 20px;
	font-size: 25px;
	color: white;
	border-radius: 25px;
	opacity: 0.7;
  	transition: 0.3s;
}

.ticket_buttons a:first-child {

	background-color: green;

}
.ticket_buttons a:hover {
	opacity: 1;
}
