<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Magazin</title>
<link rel="icon"
	href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH66yvKGCVjCsfbsmaqh2KHN-K2P_JTUdf6g&usqp=CAU">
<link rel="stylesheet" th:href="@{/css/itemMainS.css}">
<link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</head>
<body>
	<div class="mainbody">
		<div class="header">
			<div class="navbar">
				<a href="/home">Home</a> 
				<!-- Hide 1-->
				<a href="">Account</a>
				<!-- Hide 2-->
				<a href="">Cart</a> <a href="">Logout</a>
				<!-- Hide 2-->

			</div>
		</div>
		<div class="head_elem">
			<div class="col-container">
				<div class="section col">
					<h2>Admin Zone</h2>
				</div>
			</div>
		</div>
		<div class="space_section"></div>
		<div class="items_list">
			<div class="container">
			<!-- produs add -->
				<div class="item">
					<a class="itemcontainer" href="/admin/product/new">
					
						<img class="inner_image_add"
								src="https://icons-for-free.com/iconfiles/png/512/circle+more+plus+icon-1320183136549593898.png"
								alt="Descriere">
						
						<div class="pret_display">
								<span>New Product</span>
						</div>
							
					</a>
				</div>
				<!-- produs -->
				<!-- produs -->
				<div th:each="item : ${items}" class="item">
					<div class="itemcontainer" >
						<img class="inner_image" th:src="${item.imageURL}"
								alt="Descriere">
						<h2 class="nume_produs_link" th:text="${item.productName}"></h2>
						<div class="pret_display">
								<span th:text="${item.price}"></span> <span>lei</span>
						</div>
						<div class="item_options">
						<a href="#edit" class="button_link">Edit</a>
						</div>
					</div>
				</div>
				<!-- produs -->			
			</div>
		</div>

	</div>
	
	
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<script th:src="@{/js/backtop.js}"></script>

</body>
</html>