<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="mainbody">
		<div th:replace="fragments/header :: header"></div>
		<div class="head_elem">
			<div class="col-container">
				<div class="section col">
					<h2>Admin Zone</h2>
				</div>
			</div>
		</div>
		<div class="space_section"></div>
		<div class="items_list">
			<div class="container">
			<!-- produs add -->
				<div class="item">
					<a class="itemcontainer" href="/admin/product/new">
					
						<img class="inner_image_add"
								src="https://icons-for-free.com/iconfiles/png/512/circle+more+plus+icon-1320183136549593898.png"
								alt="Descriere">
						
						<div class="pret_display">
								<span>New Product</span>
						</div>
							
					</a>
				</div>
				<!-- produs -->
				<!-- produs -->
				<div th:each="product : ${products}" class="item">
					<div class="itemcontainer" >
						<img class="inner_image" th:src="${product.imageURL}"
								alt="Descriere">
						<h2 class="nume_produs_link" th:text="${product.productName}"></h2>
						<div class="pret_display">
								<span th:text="${product.price}"></span> <span>lei</span>
						</div>
						<div class="item_options">
						<a th:href="@{/admin/product/edit/{id}(id=${product.id})}" class="button_link">Edit</a>
						<a th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="button_link">Delete</a>
						</div>
					</div>
				</div>
				<!-- produs -->			
			</div>
		</div>

	</div>
	
	
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<script th:src="@{/js/backtop.js}"></script>

</body>
</html>