<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>
	<div class="mainbody">
	<div th:insert="fragments/cart :: cart"></div>
		<div th:replace="fragments/header :: header"></div>
		<div class="head_elem">
			<div class="col-container">
				<div class="vertical_info">
					<p>Produse</p>
					<div class="vertical-menu">
						<a href="/shop/Telefoane">Telefoane</a> 
						<a href="/shop/Televizoare">Televizoare</a>
						<a href="/shop/laptopuri">laptopuri</a> 
						<a href="#">Link 4</a> 
					</div>
				</div>
				<div class="section col">
					<h2>Welcome to our site</h2>
					<p th:text="${category}"></p>
				</div>
			</div>
			
		</div>
		<div class="space_section"></div>
		<div class="items_list">
			<div class="container">
				<!-- produs -->
				<div th:each="product : ${products}" class="item">
					<a class="itemcontainer" th:href="@{/shop/{category}/{product}(category=${product.category}, product=${product.productlink})}">
						<img class="inner_image" th:src="${product.imageURL}"
								alt="Descriere">
						<h2 class="nume_produs_link" th:text="${product.productName}"></h2>
						<div class="pret_display">
								<span th:text="${product.price}"></span> <span>lei</span>
						</div>
					</a>
				</div>
				<!-- produs -->			
			</div>
		</div>

	</div>
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<script th:src="@{/js/backtop.js}"></script>

</body>
</html>