<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="mainbody">
		<div th:replace="fragments/header :: header"></div>
		<div class="form-box_L">
			<form id = "login" class="input-group_L">
		         <input type="text" class="input-field" placeholder="User id" required>
		         <input type="text" class="input-field" placeholder="Enter password" required>
		         <input type="checkbox" class="check-box"><span>Remember password</span>
		         <button type="submit" class="submit-btn">Log In</button>
		         <div class="form_link">No Account ? <a href="/register">Register</a></div>
			</form>
		</div>
  	</div>
</body>
</html>