<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header-css"></head>
<body>
  <div class="mainbody">
	<div th:replace="fragments/header :: header"></div>


		<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')" class="form-box_R">
			<form id="register" class="input-group_R" method="post"	th:object="${productInfo}">
				<input type="text" class="input-field" placeholder="Nume Produs" required th:field="*{productName}"> 
				<p th:if="${error} == 'true'" class="error_msg"> Numele Produsului exista deja !</p>
				<input type="text" class="input-field" placeholder="Imagine(URL)" required th:field="*{imageURL}"> 
				Pret<input type="number" step="0.01" class="input-field" placeholder="Pret" required th:field="*{price}"> 
				Categorie<select class="input-field-select" required th:field="*{category}">
					<optgroup label="Categorie">
						<option value="Telefoane">Telefoane</option>
						<option value="Televizoare">Televizoare</option>
						<option value="laptopuri">laptopuri</option>
						<option value="Masini">Masini</option>
					</optgroup>
				</select>
				<textarea class="input-field-area" placeholder="Descriere" required	th:field="*{description}"></textarea>

				<input type="checkbox" class="check-box" required><span>All	the data are correct ?</span>
				<button th:if="${method} == 'new'" type="submit" class="submit-btn"	th:action="@{new}">Add item</button>
				<button th:if="${method} == 'edit'" type="submit" class="submit-btn" th:action="@{edit/{id}(id=*{id})}">Edit item</button>
				<button th:if="${method} == 'edit'" class="submit-btn" th:action="@{/}">Cancel</button>
			</form>
		</div>

	</div>

</body>
</html>