<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="mainbody">
	<div th:replace="fragments/header :: header"></div>
		<div class="head_elem">
			<div class="navleft"></div>
			<div class="section">
				<h2>Welcome to your profile |nume|</h2>
				<p>Here you can edit account details and see order history</p>
			</div>
		</div>
		<div class="space_section"></div>
		<div class="items_list">
			<div class="container_profile">
				<div class="user_info_panel">
					<div class="user_inner">
						<form id ="register" class="input-group">
							<table style="width:100%">

								<tr>
									<td><b>Nume</b></td>
									<td><input type="text" class="input-field_user" value="Pop" required></td>
								</tr>
								<tr>
									<td><b>Prenume</b></td>
									<td><input type="text" class="input-field_user" value="Marius" required></td>
								</tr>
								<tr>
									<td><b>Telefon</b></td>
									<td><input type="text" class="input-field_user" value="555 77 855" required></td>
								</tr>
								<tr>
									<td><b>Email</b></td>
									<td><input type="email" class="input-field_user" value="test@gmail.com" required></td>
								</tr>
								<tr>
									<td><b>Adresa</b></td>
									<td><input type="text" class="input-field_user" value="Str.1 ap 24" required></td>
								</tr>
								<tr>
									<td><b>Oras</b></td>
									<td><input type="text" class="input-field_user" value="Oradea" required></td>
								</tr>
								<tr>
									<td><b>Judet</b></td>
									<td><input type="text" class="input-field_user" value="Bihor" required></td>
								</tr>
								<tr>
									<td><b>Cod postal</b></td>
									<td><input type="text" class="input-field_user" value="410001" required></td> <!-- 6 -->
								</tr>						
							</table>
							<br>
							<button type="submit" class="submit-btn-user">Save</button>
						</form>
					</div>
					<br>
					<center><b>Istoric cumparaturi</b></center>
					<div class="user_inner2">
						<div class="istoric">	
							<div class="Row">
								<div class="Column"><p>Produse</p></div>
								<div class="Column"><p>Bucati</p></div>
								<div class="Column"><p>Pret</p></div>
							</div>
							<hr>				
							<div class="istoric_list">
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
								<!-- Istoric -->
								<div class="istoric_list_Row">
									<div class="istoric_list_Column">Telefon</div>
									<div class="istoric_list_Column">20</div>
									<div class="istoric_list_Column">150lei</div>
								</div>
								<!-- Istoric -->
							</div>
						</div>
					</div>

				</div>
			</div>



			
		</div>


	</div>
	</script>
</body>
</html>