<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH66yvKGCVjCsfbsmaqh2KHN-K2P_JTUdf6g&usqp=CAU">
  <link rel="stylesheet" th:href="@{/css/accountRL.css}">
  <link rel="stylesheet" th:href="@{/css/mainStyle.css}">

</head>
<body>
  <div class="mainbody">
		<div class="header">
			<div class="navbar">
				<a href="/home">Home</a> 
				<a href="/login">Login</a>
				<!-- Hide 1-->
				<a href="/register">Register</a>
				<!-- Hide 1-->
				<a href="profile.html">Account</a>
				<!-- Hide 2-->
				<a href="">Cart</a> <a href="">Logout</a>
				<!-- Hide 2-->      </div>       
    </div>

    <div class="container">
      <div class="form-box_R">       
        <form id = "register" class="input-group_R" method="post" th:action="@{/register_done}" th:object="${userInfo}">
          <input type="text" class="input-field" placeholder="Nume" required th:field="*{lastName}">
          <input type="text" class="input-field" placeholder="Prenume" required th:field="*{firstName}">
          <input type="tel" class="input-field" placeholder="Telefon" required th:field="*{telefon}">
          <input type="text" class="input-field" placeholder="Adresa" required th:field="*{adresa}">
          <input type="text" class="input-field" placeholder="Oras" required th:field="*{oras}">
          <input type="text" class="input-field" placeholder="Judet" required th:field="*{judet}">
          <input type="text" class="input-field" placeholder="Cod postal" required th:field="*{codPostal}">
          <input type="email" class="input-field" placeholder="Email" required th:field="*{email}">
          <input type="text" class="input-field" placeholder="Enter password" required th:field="*{password}">
          <input type="checkbox" class="check-box" required><span>I agree terms & conditions</span>
          <button type="submit" class="submit-btn">Register</button>
          <div class="form_link">Have Account ? <a href="">Login</a></div>
        </form>
      </div>

    </div>
  </div>
</body>
</html>