<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header-css"></head>
<body>
  <div class="mainbody">
	<div th:replace="fragments/header :: header"></div>
      <div class="form-box_R">       
        <form id = "register" class="input-group_R" method="post" th:action="@{/register_done}" th:object="${userInfo}">
          <input type="text" class="input-field" placeholder="Nume" required th:field="*{lastName}">
          <input type="text" class="input-field" placeholder="Prenume" required th:field="*{firstName}">
          <input type="tel" class="input-field" placeholder="Telefon" required th:field="*{telefon}">
          <input type="text" class="input-field" placeholder="Adresa" required th:field="*{adresa}">
          <input type="text" class="input-field" placeholder="Oras" required th:field="*{oras}">
          <input type="text" class="input-field" placeholder="Judet" required th:field="*{judet}">
          <input type="text" class="input-field" placeholder="Cod postal" required th:field="*{codPostal}">
          <input type="email" class="input-field" placeholder="Email" required th:field="*{email}">
          <input type="text" class="input-field" placeholder="Enter password" required th:field="*{password}">
          <input type="checkbox" class="check-box" required><span>I agree terms & conditions</span>
          <button type="submit" class="submit-btn">Register</button>
          <div class="form_link">Have Account ? <a href="/login">Login</a></div>
        </form>
      </div>
    </div>
</body>
</html>